@page
@model NaanNCurry.Pages.ALaCartes.DeleteModel

<!-- Navbar & Hero Start -->
<div class="container-xxl position-relative p-0">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark px-4 px-lg-5 py-3 py-lg-0">
        <a href="" class="navbar-brand p-0">
            <h1 class="text-primary m-0"><i class="fa fa-utensils me-3"></i>Restoran</h1>
            <!-- <img src="img/logo.png" alt="Logo"> -->
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
            <span class="fa fa-bars"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <div class="navbar-nav ms-auto py-0 pe-4">
                <a class="nav-item nav-link" asp-area="" asp-page="/Index">Home</a>
                <div class="nav-item dropdown">
                    <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">Pages</a>
                    <div class="dropdown-menu m-0">
                        <a class="nav-item nav-link" asp-area="" asp-page="/Buffets/Index">Buffet</a>
                        <a class="nav-item nav-link" asp-area="" asp-page="/ScheduleBuffets/Index">Schedule Buffet</a>
                        <a class="nav-item nav-link" asp-area="" asp-page="/ALaCartes/Index">ALaCarte</a>
                        <a class="nav-item nav-link" asp-area="" asp-page="/Reservations/Index">Reservation</a>
                    </div>
                </div>
           
            </div>
       
        </div>
    </nav>
    <div class="container-xxl py-0 bg-dark hero-header mb-0">
        <div class="container my-5 py-5">
            <div class="row align-items-center g-1">
                <div class="col-lg-6 text-center text-lg-end overflow-hidden">
                    <img class="img-fluid" src="img/hero.png" alt="">
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Navbar & Hero Finish -->
<div class="container-xxl py-5">
<form method="post" enctype="multipart/form-data">
    <input hidden asp-for="ALaCarte.Id" />
    <div class="border p-3 mt-4">
        <div class="row pb-2">
            <h2 class="text-primary pl-3">Delete A La Carte</h2>
            <hr />
        </div>
        <div asp-validation-summary="All"></div>
        <div class="mb-3">
            <label asp-for="ALaCarte.Name"></label>
            <input asp-for="@Model.ALaCarte.Name" type="text" disabled class="form-control" />
            <span asp-validation-for="ALaCarte.Name" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="ALaCarte.Description"></label>
            <input asp-for="@Model.ALaCarte.Description" type="text" disabled class="form-control" />
            <span asp-validation-for="ALaCarte.Description" class="text-danger"></span>
        </div>

        <div class="mb-3">
            <label asp-for="ALaCarte.ImageUrl"></label>
            <input type="file" id="uploadBox" name="file" hidden />
            <img src="@Model.ALaCarte.ImageUrl" width="50px" height="50px" />
        </div>
        <div class="mb-3">
            <label asp-for="ALaCarte.ActiveMenu"></label>
            <input asp-for="@Model.ALaCarte.ActiveMenu" type="text" disabled class="form-control" />
            <span asp-validation-for="ALaCarte.ActiveMenu" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="ALaCarte.Price"></label>
            <input asp-for="@Model.ALaCarte.Price" type="text" disabled class="form-control" />
            <span asp-validation-for="ALaCarte.Price" class="text-danger"></span>
        </div>
        <button type="submit" class="btn btn-danger" style="width:150px">Delete</button>
        <a asp-page="Index" class="btn btn-secondary" style="width:150px">Back to List</a>

    </div>

</form>
</div>